---
import Layout from "../layouts/MainLayout.astro";
---

<Layout>
    <div class="bg-white p-6 md:p-8 rounded-lg shadow-lg">
        <h2 class="text-3xl font-bold text-gray-800 mb-6">Upcoming Events</h2>
        <div class="mt-6">
            <iframe
                src="https://outlook.office365.com/owa/calendar/1a3c6801617a4dadbd1a286ef7bfc120@mba2027.hbs.edu/39a05302ef3b4724bad503cccb5e8a428887853690598780963/calendar.html"
                width="100%"
                height="500"
                frameborder="0"
                style="border: 1px solid #e5e7eb; border-radius: 0.5rem; background-color: white; margin-top: 1rem;"
            ></iframe>
        </div>
        <a
            href="https://beech.hbs.edu/eventCalendar/user/mainCalendar.do?ticket=ST-38000-3yggo9OgGVFzjXDgcXZ5-ZVAfgU-ip-10-139-19-20#"
        >
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4"
                >Link to all Student Events</button
            >
        </a>
    </div>
</Layout>
