---
import Layout from "../layouts/MainLayout.astro";
---

<Layout>
    <div class="bg-white p-6 md:p-8 rounded-lg shadow-lg">
        <h2 class="text-3xl font-bold text-gray-800 mb-6">
            Report a bug or request a feature
        </h2>
        <iframe
            width="100%"
            height="1000px"
            src="https://forms.office.com/Pages/ResponsePage.aspx?id=Tlb9CUK_IUOPLbjkgvhjXHXK8ZtJ5g1LqDyNLsShB1dUQ1kzUFFCQUY0TlFBSEJUWjRNRUxXMlYwQiQlQCN0PWcu&embed=true"
            frameborder="0"
            marginwidth="0"
            marginheight="0"
            style="border: none; max-width:100%; max-height:100vh"
            allowfullscreen
            mozallowfullscreen
            msallowfullscreen
        >
        </iframe>
    </div>
</Layout>
