---
import Layout from '../layouts/MainLayout.astro';
---

<Layout>
    <div class="bg-white p-6 md:p-8 rounded-lg shadow-lg">
        <h2 class="text-3xl font-bold text-gray-800 mb-6">Helpful Resources</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <a
                href="https://hbs.instructure.com/"
                class="block bg-gray-50 p-6 rounded-lg shadow-sm border hover:shadow-md hover:border-hbs-crimson transition"
            >
                <h3 class="text-xl font-semibold text-gray-900 mb-2">HBS Canvas</h3>
                <p class="text-gray-700">Access cases, assignments, check grades.</p>
            </a>

            <a
                href="https://chat.whatsapp.com/DkqGyTiZP4I2FI0GowdmWw"
                class="block bg-gray-50 p-6 rounded-lg shadow-sm border hover:shadow-md hover:border-hbs-crimson transition"
            >
                <h3 class="text-xl font-semibold text-gray-900 mb-2">Section J WhatsApp Group</h3>
                <p class="text-gray-700">The official back-channel. Join for class discussions and social planning.</p>
            </a>

            <a
                href="https://cpd.dtxchat.org/"
                class="block bg-gray-50 p-6 rounded-lg shadow-sm border hover:shadow-md hover:border-hbs-crimson transition"
            >
                <h3 class="text-xl font-semibold text-gray-900 mb-2">Career Services (CPD) DTX Chat</h3>
                <p class="text-gray-700">Chatbot with advice and resources for career development.</p>
            </a>

            <a
                href="https://shad.hbs.edu/booking"
                class="block bg-gray-50 p-6 rounded-lg shadow-sm border hover:shadow-md hover:border-hbs-crimson transition"
            >
                <h3 class="text-xl font-semibold text-gray-900 mb-2">Shad Hall Reservations</h3>
                <p class="text-gray-700">Book squash courts, fitness classes, and more.</p>
            </a>
        </div>
    </div>
</Layout>
